.auth-form {
  min-width: 350px;
  border: 0.2px solid black;
  border-radius: 10px;
  margin-top: 6vh;
  height: 75vh;
  background-color: rgb(240, 240, 240);
  width: 25%;
  font-size: 3.5vh;
  z-index: 1;
}

.left-button {
  border-radius: 10px 0 0 0;
}

.right-button {
  border-radius: 0 10px 0 0;
}

.header-button {
  background-color: rgb(255, 255, 255);
  justify-content: center;
  color: rgb(14, 14, 14);
  border: none;
  height: 100%;
  width: 50%;
  float: left;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}

.header-button:hover {
  background-color: rgb(236, 236, 236);
  border-bottom: 0.6vh solid #0b5ed7 !important;
}

.header-button-wrapper {
  width: 100%;
  height: 10vh;
}

.current-form-type {
  border-bottom: 0.8vh solid #0b5ed7;
}

.other-form-type {
  border-bottom: 0.4vh solid rgb(232, 232, 232);
}

.form {
  margin: 8vh;
}

.submit-button {
  width: 100%;
}

.horizontal-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.up {
  position: relative;
  bottom: 4vh;
}

.modal-group {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.modal-btn {
  width: 50%;
}

.error-message {
  font-size: 17px;
  position: relative;
  top: 0px;
  color: rgba(228, 48, 48, 0.773);
  font-weight: 600;
  margin-left: 20px;
}

.success-message {
  font-size: 17px;
  position: relative;
  bottom: 3vh;
  color: rgba(81, 228, 48, 0.773);
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .header-button {
    font-size: 20px;
    font-weight: 400;
    
  }
}

