.error-message {
    font-size: 17px;
    position: relative;
    bottom: 3vh;
    color: rgba(228, 48, 48, 0.773);
  }

  .creation-form {
    width: 35rem;
    border: 0.2px solid black;
    border-radius: 10px;
    margin-top: 6vh;
    height:fit-content;
    background-color: rgb(240, 240, 240);
  }

  @media only screen and (max-width: 600px) {
    .header-button {
      font-size: 20px;
      font-weight: 400;  
    }
  }
  